body {
  background-image: url('105bw.jpg');
  background-size: contain;
}
.main_header{
    text-align: center;
}

.main_title {
  font-size: 60px;
  font-family: Impact, Haettenschweiler, 'Arial Bold', sans-serif;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.301);
  margin-top: 0px;
  margin-bottom: 10px;
  
}

.info {
  width: 50%;
  padding: 20px;
  float: left;
  text-align: center;
}
.info .article_title{
    font-size: 40px;
    font-family: 'arial bold', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.301);
}

.text {
  background-color: rgba(0, 0, 0, 0.301);
}

a {
  font-size: 40px;
  color: black;
}
.listen{
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.39);
    text-decoration: dashed;
}
.listen:hover{
    background-color: black;
    color: green;
}
.discography {
  width: 50%;
  padding: 20px;
  float: left;
  text-align: center;
}
.discography .article_title{
    font-size: 40px;
    font-family: 'arial bold', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.301);
}
.fullset{
  width: 50%;
  margin-left: 20;
}
.album {
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.album_cover {
  width: 100%;
  height: auto;
}